body{
  padding-top: 5vw;
}
.header {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 200px;
  padding-right: 200px;
  position:fixed;
  right: 0;
  left: 0;
  top: 0;

}
ul li{
  display: inline;
  margin-right: 20px;
}
li a{
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-align: center;
  font-weight: 200;
  font-size: 18px;
}
li a:hover {
  text-shadow: 0.001px 0 0 white;
}

h1{
  font-weight: normal;
}
.centrador{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  flex-direction: column;
}
#Sobre-mi,
#Conocimientos,
#Experiencia,
#Educacion,
#Certificaciones,
#Contacto {
  scroll-margin-top: 100px; /* Ajusta según la altura del header */
}

.conimgs{
  display: flex;
  flex-direction: column;
  justify-content: center; /* Centra los elementos verticalmente dentro del contenedor */
  align-items: center;
  width: 10vw;

}
.imgfromcon{
  height: 10vw;
  width: auto;
  display: inline-block; /* Esto es necesario para que transform funcione correctamente */
  transition: transform 0.3s ease-in-out;
  transform-origin: center center;
  border-radius: 20px;
}
.conimgsbig{
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  gap: 200px; /* Espacio entre los elementos */
  margin-top: 50px;
  margin-bottom: 50px;
}
.imgfromcon:hover{
  transform: scale(1.1);
}
p{
  text-align: center; /* Centra el texto */
}
h3{
  font-weight: normal;
}
.bloque{
  text-align: center;
}